
/* Fonts */
@font-face {
    font-family: apercu-regular;
    /*src: url(../fonts/apercu_regular_pro.otf);*/
}

@font-face {
    font-family: burbank-small-bold;
    /*src: url(../fonts/burbank_small_bold.otf);*/
}

html {
  font-size: 18px;
}


/* General Styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


.qp-grey {
  color: rgb(58,58,58);
}

.qp-blue {
  color: rgb(86,160,192) !important;
}

.center {
  text-align: center;
}

.mobile-hide{
  display: none;
}



/* Navigation */

.quintapata-nav {
  height: 75px;
}

.quintapata-nav div{
  background-color: #fff;
}

.quintapata-logo{
  width: 200px;
  margin-top: -15px;
}

/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}


/* Medium size screens  ----------- */
@media only screen and (min-width : 600px)  {

  .mobile-hide{
    display: block;
  }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}



